<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network permissions for RDP ping & connection testing -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Queries declaration for Android 11+ to detect installed RDP clients -->
    <queries>
        <!-- Microsoft Remote Desktop -->
        <package android:name="com.microsoft.rdc.android" />
        <package android:name="com.microsoft.rdc.androidx" />
        <package android:name="com.microsoft.rdc.android.beta" />
        <!-- aFreeRDP -->
        <package android:name="com.freerdp.afreerdp" />
        <!-- 2X / Parallels Client -->
        <package android:name="com.toremote.rdpclient64" />
        <package android:name="com.toremote.rdpclient" />
        <!-- Intent queries for rdp:// and ms-rd:// schemes -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="rdp" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="ms-rd" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/rdp" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-rdp" />
        </intent>
    </queries>

    <application
        android:name=".RdmApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemoteDesktopManager"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RemoteDesktopManager"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FileProvider for sharing generated .rdp files with external RDP clients -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
